<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <!--<script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>');
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + pr + ' username:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
    </script>-->
    {% include 'flash.html' %}
    <div style="text-align: center;">
        <div class="well" style="text-align: center;
                                display: inline-block;
                                margin:0 auto;">

            <h3>{{ _('Out &amp; About') }}</h3>
            <div style="border-radius: 20px; overflow:hidden">
                <img style="display: block; margin: auto;" src="static/img/neighborhood.jpg">
            </div>
            <br>
            <h4>{{ _('Please Sign In') }}</h4>
            <br>
            <form class="form" action="" method="post" name="login">
                {{ form.hidden_tag() }}
                <!--<div class="help-block">{{ _('Click on your OpenID provider below:') }}</div>
                <div class="control-group">
                    {% for pr in providers %}
                    <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');"><img src="/static/img/{{ pr.name.lower() }}.png" class="img-polaroid" style="margin:2px;" /></a>
                    {% endfor %}
                </div>-->
                <div class="control-group{% if form.email.errors %} error{% endif %}">
                    <label class="control-label" for="email">{{ _('Enter your email here:') }}</label>
                    <div class="controls">
                        {{ form.email(size=80, class="span4") }}
                        {% for error in form.email.errors %}
                            <span class="help-inline">[{{ error }}]</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group{% if form.password.errors %} error{% endif %}">
                    <label class="control-label" for="password">{{ _('Enter your password here:') }}</label>
                    <div class="controls">
                        {{ form.password(size=80, class="span4") }}
                        {% for error in form.password.errors %}
                            <span class="help-inline">[{{ error }}]</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls" style="text-align:center; display: inline-block;">
                        <label class="checkbox" for="remember_me">
                            {{ form.remember_me }} {{ _('Remember Me') }}
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="{{ _('Sign In') }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}